In [1]:
.libPaths(R.home('/opt/homebrew/Caskroom/miniforge/base/lib/R/library'))
cur_date = '081625'

library(readxl)
library(tidyverse)
library(reshape2)

# reading in files
participant_df = data.frame(read_excel("Input/Participant Information.xlsx"))[,1:7]

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths

In [2]:
head(participant_df)

  Year_of_Attendance First_Name Last_Name Full_Name
1 2001               Jalal      Abedi     Jalal Abedi
2 2001               Lukee      Achenie   Lukee Achenie
3 2001               Wudneh     Admassu   Wudneh Admassu
4 2001               Pedro      Alvarez   Pedro Alvarez
5 2001               Camille    Anderson  Camille Anderson
6 2001               Lynden     Archer    Lynden Archer
  Institution                         Department
1 Clark Atlanta University            Chemical Engineering
2 University of Connecticut           Chemical Engineering
3 University of Idaho                 Chemical Engineering
4 University of Iowa                  Civil & Environmental Engineering
5 University of California - Berkeley Chemical Engineering
6 Cornell University                  Chemical Engineering
  Position
1 Assistant Professor
2 Associate Professor
3 Professor and Department Chair
4 Associate Professor
5 PhD Candidate
6 Associate Professor

## 1. How many participants returned and which years did they attend?

In [3]:
repeating_part_df = participant_df %>%
    group_by(Full_Name) %>%
    count() %>%
    filter(n > 1)

head(repeating_part_df)

  Full_Name         n
1 Addle Hicks       2
2 Alfred Cruz       2
3 Anjelica Gonzalez 3
4 Asegun Henry      2
5 Carmen Lilley     2
6 Cheryl Gomillion  2

In [5]:
repeating_names = repeating_part_df$Full_Name
length(repeating_names)

repeat_year_df = participant_df[,c(1,4)] %>%
    filter(Full_Name %in% repeating_names) %>%
    arrange(Full_Name)

head(repeat_year_df)

[1] 58

  Year_of_Attendance Full_Name
1 2006               Addle Hicks
2 2009               Addle Hicks
3 2010               Alfred Cruz
4 2016               Alfred Cruz
5 2004               Anjelica Gonzalez
6 2006               Anjelica Gonzalez

58 participants attended at least twice.

## 2. How many partipants represented each department for each year (i.e., chemistry engineering for 2001 had 5 participants)?

## 3. How many participants and institutions are from each region per year?

## 4. How many participants and instituions are from year institutional type per year?